/* write your css code here*/
.container {
  background-color: #f5d0fe;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #d946ef;
  border: solid transparent 1px;
  color: #ffffff;
}
.cont {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
.inp {
  border: #cbd2d9 solid 1px;
  color: #cbd2d9;
}
